Repository oh-dab/server-api, pull requests merged in 2023-07, with the labels that each got.

#6 [Test/#5] member controller 슬라이스 테스트 작성, Spring Rest Docs 설정, treansactional 선언
  .github/workflows/githubaction-ci.yml
  build.gradle
  member-module/member-application/build.gradle
  member-module/member-application/src/main/java/com/ohdab/JoinService.java
  member-module/member-application/src/main/java/com/ohdab/LoginService.java
  member-module/member-persistence-adapter/src/main/java/com/ohdab/mapper/MemberPersistenceMapper.java
  member-module/member-web-adapter/out/test/resources/application.yml
  member-module/member-web-adapter/src/main/java/com/ohdab/MemberController.java
  member-module/member-web-adapter/src/main/java/com/ohdab/mapper/MemberWebMapper.java
  src/docs/asciidoc/ohdab.adoc
  src/test/java/com/ohdab/webmvc/member/MemberControllerTest.java
  teacher-module/teacher-application/build.gradle
  wronganswernote-module/wronganswernote-application/build.gradle
Labels: feat, fix, test, size/L

#16 [Feat/#14] Teacher도메인 로직 작성
  teacher-module/teacher-application/src/main/java/com/ohdab/domain/Teacher.java
  teacher-module/teacher-application/src/main/java/com/ohdab/domain/group/Classroom.java
  teacher-module/teacher-application/src/main/java/com/ohdab/domain/group/ClassroomInfo.java
  teacher-module/teacher-application/src/main/java/com/ohdab/domain/student/Student.java
  teacher-module/teacher-application/src/main/java/com/ohdab/domain/workbook/Workbook.java
Labels: feat, size/L, TEACHER

#23 [Feat/#9] 학생별 오답노트 조회 service 단위 테스트 & 구현
  src/main/java/com/ohdab/member/repository/MemberRepository.java
  src/main/java/com/ohdab/member/service/LoginService.java
  src/main/java/com/ohdab/member/service/UserDetailServiceImpl.java
  src/main/java/com/ohdab/member/service/helper/MemberHelperService.java
  src/main/java/com/ohdab/mistakenote/exception/NoWorkbookException.java
  src/main/java/com/ohdab/mistakenote/repository/MistakeNoteRepository.java
  src/main/java/com/ohdab/mistakenote/service/GetMistakeNoteInfoService.java
  src/main/java/com/ohdab/mistakenote/service/helper/MistakeNoteHelperService.java
  src/main/java/com/ohdab/workbook/repository/WorkbookRepository.java
  src/test/java/com/ohdab/mistakenote/service/GetMistakeNoteInfoServiceTest.java
Labels: feat, test, size/L, MISTAKENOTE

#31 [Feat/#29] 오답 기록하기 controller 테스트 & 구현
  src/docs/asciidoc/ohdab.adoc
  src/main/java/com/ohdab/mistakenote/controller/MistakeNoteController.java
  src/main/java/com/ohdab/mistakenote/controller/mapper/MistakeNoteMapper.java
  src/main/java/com/ohdab/mistakenote/controller/request/SaveMistakeNoteInfoReq.java
  src/main/java/com/ohdab/mistakenote/controller/response/SaveMistakeNoteInfoRes.java
  src/main/java/com/ohdab/mistakenote/service/SaveMistakeNoteInfoService.java
  src/main/java/com/ohdab/mistakenote/service/dto/SaveMistakeNoteInfoDto.java
  src/main/java/com/ohdab/mistakenote/service/usecase/SaveMistakeNoteInfoUsecase.java
  src/test/java/com/ohdab/mistakenote/controller/MistakeNoteControllerTest.java
Labels: feat, test, size/L, MISTAKENOTE
