Repository oh-dab/server-api, pull requests merged in 2023-08, with the labels that each got.

#38 [Feat/#33] 선생님 목록 조회 서비스 테스트 및 구현
  src/main/java/com/ohdab/member/domain/Member.java
  src/main/java/com/ohdab/member/repository/MemberRepository.java
  src/main/java/com/ohdab/member/service/GetTeacherListService.java
  src/main/java/com/ohdab/member/service/dto/MemberDto.java
  src/main/java/com/ohdab/member/service/mapper/ServiceMemberMapper.java
  src/main/java/com/ohdab/member/service/usecase/GetTeacherListUsecase.java
  src/test/java/com/ohdab/member/service/MemberServiceTest.java
Labels: feat, size/L, MEMBER

#42 [Feat/#39] 선생님 추가 service 테스트 작성 및 구현
  src/main/java/com/ohdab/member/repository/MemberRepository.java
  src/main/java/com/ohdab/member/service/AddTeacherService.java
  src/main/java/com/ohdab/member/service/LoginService.java
  src/main/java/com/ohdab/member/service/UserDetailServiceImpl.java
  src/main/java/com/ohdab/member/service/dto/AddTeacherReqDto.java
  src/main/java/com/ohdab/member/service/helper/MemberHelperService.java
  src/main/java/com/ohdab/member/service/usecase/AddTeacherUsecase.java
  src/test/java/com/ohdab/member/service/AddTeacherServiceTest.java
  src/test/java/com/ohdab/member/service/GetTeacherListServiceTest.java
Labels: feat, size/L, MEMBER

#27 [Feat/#26] 반 추가 Repository 테스트 & 구현
  src/main/java/com/ohdab/classroom/domain/classroomInfo/ClassroomInfo.java
  src/main/java/com/ohdab/classroom/repository/ClassroomRepository.java
  src/test/java/com/ohdab/classroom/repository/AddClassroomRepositoryTest.java
Labels: feat, CLASSROOM, size/M

#32 [Feat/#28] 오답 기록하기 service 단위 테스트 & 구현
  src/main/java/com/ohdab/mistakenote/controller/request/SaveMistakeNoteInfoReq.java
  src/main/java/com/ohdab/mistakenote/domain/MistakeNote.java
  src/main/java/com/ohdab/mistakenote/exception/NoMistakeNoteException.java
  src/main/java/com/ohdab/mistakenote/service/GetMistakeNoteInfoService.java
  src/main/java/com/ohdab/mistakenote/service/SaveMistakeNoteInfoService.java
  src/main/java/com/ohdab/mistakenote/service/dto/SaveMistakeNoteInfoDto.java
  src/main/java/com/ohdab/workbook/domain/service/NumberScopeCheckService.java
  src/main/java/com/ohdab/workbook/exception/NoWorkbookException.java
  src/test/java/com/ohdab/mistakenote/controller/MistakeNoteControllerTest.java
  src/test/java/com/ohdab/mistakenote/service/GetMistakeNoteInfoServiceTest.java
  src/test/java/com/ohdab/mistakenote/service/SaveMistakeNoteInfoServiceTest.java
Labels: feat, test, size/L, MISTAKENOTE

#41 [Feat/#40] 반 추가 Controller 테스트 & 구현
  src/docs/asciidoc/ohdab.adoc
  src/main/java/com/ohdab/classroom/controller/ClassroomController.java
  src/main/java/com/ohdab/classroom/controller/mapper/ClassroomMapper.java
  src/main/java/com/ohdab/classroom/controller/request/ClassroomReq.java
  src/main/java/com/ohdab/classroom/controller/response/ClassroomRes.java
  src/main/java/com/ohdab/classroom/repository/ClassroomRepository.java
  src/test/java/com/ohdab/classroom/controller/ClassroomControllerTest.java
Labels: feat, test, size/L, CLASSROOM

#44 [Feat/#35] 교재 상세조회(전체 학생에 대한 오답노트 조회) controller 단위 테스트 & 구현
  src/docs/asciidoc/ohdab.adoc
  src/main/java/com/ohdab/mistakenote/controller/MistakeNoteController.java
  src/main/java/com/ohdab/mistakenote/controller/mapper/MistakeNoteMapper.java
  src/main/java/com/ohdab/mistakenote/controller/response/GetAllMistakeNoteInfoRes.java
  src/main/java/com/ohdab/mistakenote/controller/response/GetMistakeNoteInfoOfStudentRes.java
  src/main/java/com/ohdab/mistakenote/controller/response/GetMistakeNoteInfoRes.java
  src/main/java/com/ohdab/mistakenote/service/GetMistakeNoteInfoService.java
  src/main/java/com/ohdab/mistakenote/service/dto/GetAllMistakeNoteInfoDto.java
  src/main/java/com/ohdab/mistakenote/service/dto/GetMistakeNoteInfoOfStudent.java
  src/main/java/com/ohdab/mistakenote/service/usecase/GetMistakeNoteInfoUsecase.java
  src/test/java/com/ohdab/mistakenote/controller/MistakeNoteControllerTest.java
  src/test/java/com/ohdab/mistakenote/service/GetMistakeNoteInfoServiceTest.java
Labels: feat, fix, test, size/L, MISTAKENOTE

#47 feat/#45 반 목록 조회 Service & Dto 결합 (inner class)
  src/main/java/com/ohdab/classroom/controller/ClassroomController.java
  src/main/java/com/ohdab/classroom/controller/mapper/ClassroomMapper.java
  src/main/java/com/ohdab/classroom/controller/request/AddClassroomReq.java
  src/main/java/com/ohdab/classroom/controller/response/AddClassroomRes.java
  src/main/java/com/ohdab/classroom/domain/Classroom.java
  src/main/java/com/ohdab/classroom/service/AddAddClassroomService.java
  src/main/java/com/ohdab/classroom/service/FindClassroomListService.java
  src/main/java/com/ohdab/classroom/service/dto/ClassroomDto.java
  src/main/java/com/ohdab/classroom/service/dto/ClassroomReqDto.java
  src/main/java/com/ohdab/classroom/service/mapper/ClassroomServiceMapper.java
  src/main/java/com/ohdab/classroom/service/usecase/AddClassroomUsecase.java
  src/main/java/com/ohdab/classroom/service/usecase/FindClassroomListUsecase.java
  src/test/java/com/ohdab/classroom/controller/ClassroomControllerTest.java
  src/test/java/com/ohdab/classroom/service/AddClassroomServiceTest.java
Labels: feat, fix, size/L, CLASSROOM

#58 [Feat/#36] 교재 상세조회(전체 학생에 대한 오답노트 조회) service 단위 테스트 & 구현
  build.gradle
  src/main/java/com/ohdab/member/repository/mapper/MemberMapper.java
  src/main/java/com/ohdab/mistakenote/controller/MistakeNoteController.java
  src/main/java/com/ohdab/mistakenote/controller/mapper/MistakeNoteMapper.java
  src/main/java/com/ohdab/mistakenote/repository/MistakeNoteRepository.java
  src/main/java/com/ohdab/mistakenote/repository/mapper/MistakeRecordMapper.java
  src/main/java/com/ohdab/mistakenote/service/GetMistakeNoteInfoService.java
  src/main/java/com/ohdab/mistakenote/service/dto/GetMistakeNoteInfoOfStudentDto.java
  src/main/java/com/ohdab/mistakenote/service/usecase/GetMistakeNoteInfoUsecase.java
  src/main/resources/mapper/MemberMapper.xml
  src/main/resources/mapper/MistakeRecordMapper.xml
  src/test/java/com/ohdab/mistakenote/controller/MistakeNoteControllerTest.java
  src/test/java/com/ohdab/mistakenote/service/GetMistakeNoteInfoServiceTest.java
  src/test/resources/application.yml
Labels: feat, test, size/L, MISTAKENOTE

#59 [Feat/#54] 선생님 목록 조회 repository 테스트 및 구현
  src/main/java/com/ohdab/member/repository/MemberRepository.java
  src/main/java/com/ohdab/member/service/GetTeacherListService.java
  src/test/java/com/ohdab/member/repository/MemberRepositoryTest.java
  src/test/java/com/ohdab/member/service/GetTeacherListServiceTest.java
Labels: feat, MEMBER, size/M

#75 [Feat/#74] 선생님 목록 조회 Controller 테스트 및 구현
  src/docs/asciidoc/ohdab.adoc
  src/main/java/com/ohdab/member/controller/MemberController.java
  src/main/java/com/ohdab/member/controller/mapper/MemberWebMapper.java
  src/main/java/com/ohdab/member/controller/response/GetTeacherListRes.java
  src/main/java/com/ohdab/member/service/GetTeacherListService.java
  src/main/java/com/ohdab/member/service/dto/MemberDtoForGetTeacherList.java
  src/test/java/com/ohdab/member/Controller/MemberControllerTest.java
  src/test/java/com/ohdab/member/repository/MemberRepositoryTest.java
  src/test/java/com/ohdab/member/service/GetTeacherListServiceTest.java
Labels: feat, size/L, MEMBER

#77 [Feat/#76] 선생님 추가 Controller 테스트 및 구현
  src/docs/asciidoc/ohdab.adoc
  src/main/java/com/ohdab/member/controller/MemberController.java
  src/main/java/com/ohdab/member/controller/mapper/MemberWebMapper.java
  src/main/java/com/ohdab/member/controller/request/AddTeacherReq.java
  src/main/java/com/ohdab/member/controller/response/AddTeacherRes.java
  src/test/java/com/ohdab/member/Controller/MemberControllerTest.java
Labels: feat, MEMBER, size/M

#79 [Feat/#78] 선생님 삭제 controller 테스트 및 구현
  src/docs/asciidoc/ohdab.adoc
  src/main/java/com/ohdab/member/controller/MemberController.java
  src/main/java/com/ohdab/member/controller/mapper/MemberWebMapper.java
  src/main/java/com/ohdab/member/controller/response/DeleteTeacherRes.java
  src/test/java/com/ohdab/member/Controller/MemberControllerTest.java
Labels: feat, MEMBER, size/M

#71 [Feat/#65] 학생별 N번 이상 틀린 문제 출력 controller 단위 테스트 & 구현
  src/docs/asciidoc/ohdab.adoc
  src/main/java/com/ohdab/mistakenote/controller/MistakeNoteController.java
  src/main/java/com/ohdab/mistakenote/controller/mapper/MistakeNoteMapper.java
  src/main/java/com/ohdab/mistakenote/controller/response/GetNumberWrongNTimes.java
  src/main/java/com/ohdab/mistakenote/service/GetNumbersWrongNTimesService.java
  src/main/java/com/ohdab/mistakenote/service/dto/GetNumberWrongNTimesDto.java
  src/main/java/com/ohdab/mistakenote/service/usecase/GetNumbersWrongNTimesUsecase.java
  src/test/java/com/ohdab/mistakenote/controller/MistakeNoteControllerTest.java
Labels: feat, test, size/L, MISTAKENOTE

#73 [Feat/#66] 학생별 N번 이상 틀린 문제 출력 service 단위 테스트 & 구현
  src/main/java/com/ohdab/mistakenote/controller/MistakeNoteController.java
  src/main/java/com/ohdab/mistakenote/exception/NoNumbersWrongNTimesException.java
  src/main/java/com/ohdab/mistakenote/exception/NumberIsOutOfRangeException.java
  src/main/java/com/ohdab/mistakenote/repository/mapper/MistakeRecordMapper.java
  src/main/java/com/ohdab/mistakenote/service/GetNumberWrongNTimesService.java
  src/main/java/com/ohdab/mistakenote/service/usecase/GetNumberWrongNTimesUsecase.java
  src/test/java/com/ohdab/mistakenote/controller/MistakeNoteControllerTest.java
  src/test/java/com/ohdab/mistakenote/service/GetNumberWrongNTimesServiceTest.java
Labels: feat, test, size/L, MISTAKENOTE

#87 Feat/#84 반 수정 controller 작성 & test 작성
  src/docs/asciidoc/ohdab.adoc
  src/main/java/com/ohdab/classroom/controller/ClassroomController.java
  src/main/java/com/ohdab/classroom/controller/mapper/ClassroomMapper.java
  src/main/java/com/ohdab/classroom/controller/request/UpdateClassroomReq.java
  src/main/java/com/ohdab/classroom/controller/response/UpdateClassroomRes.java
  src/test/java/com/ohdab/classroom/controller/ClassroomControllerTest.java
Labels: feat, test, size/L, CLASSROOM

#92 Feat/#89 반 삭제 Service 작성
  src/main/java/com/ohdab/classroom/service/AddClassroomService.java
  src/main/java/com/ohdab/classroom/service/DeleteClassroomService.java
  src/main/java/com/ohdab/classroom/service/UpdateClassroomInfoService.java
  src/main/java/com/ohdab/classroom/service/helper/ClassroomServiceHelper.java
  src/main/java/com/ohdab/classroom/service/usecase/DeleteClassroomUsecase.java
  src/test/java/com/ohdab/classroom/service/AddClassroomServiceTest.java
Labels: feat, CLASSROOM, size/M

#96 [Merge] Member 도메인 기능 개발 merge
  src/docs/asciidoc/ohdab.adoc
  src/main/java/com/ohdab/member/controller/MemberController.java
  src/main/java/com/ohdab/member/controller/mapper/MemberWebMapper.java
  src/main/java/com/ohdab/member/controller/request/AddTeacherReq.java
  src/main/java/com/ohdab/member/controller/response/AddTeacherRes.java
  src/main/java/com/ohdab/member/controller/response/DeleteTeacherRes.java
  src/main/java/com/ohdab/member/controller/response/GetTeacherListRes.java
  src/main/java/com/ohdab/member/controller/response/LoginRes.java
  src/main/java/com/ohdab/member/domain/Member.java
  src/main/java/com/ohdab/member/repository/MemberRepository.java
  src/main/java/com/ohdab/member/service/AddTeacherService.java
  src/main/java/com/ohdab/member/service/DeleteTeacherService.java
  src/main/java/com/ohdab/member/service/GetTeacherListService.java
  src/main/java/com/ohdab/member/service/JoinService.java
  src/main/java/com/ohdab/member/service/LoginService.java
  src/main/java/com/ohdab/member/service/UserDetailServiceImpl.java
  src/main/java/com/ohdab/member/service/dto/JoinReqDto.java
  src/main/java/com/ohdab/member/service/dto/LoginReqDto.java
  src/main/java/com/ohdab/member/service/dto/LoginResDto.java
  src/main/java/com/ohdab/member/service/dto/MemberDtoForAddTeacher.java
  src/main/java/com/ohdab/member/service/dto/MemberDtoForGetTeacherList.java
  src/main/java/com/ohdab/member/service/dto/MemberDtoForJoin.java
  src/main/java/com/ohdab/member/service/dto/MemberDtoForLogin.java
  src/main/java/com/ohdab/member/service/helper/MemberHelperService.java
  src/main/java/com/ohdab/member/service/usecase/AddTeacherUsecase.java
  src/main/java/com/ohdab/member/service/usecase/DeleteTeacherUsecase.java
  src/main/java/com/ohdab/member/service/usecase/GetTeacherListUsecase.java
  src/main/java/com/ohdab/member/service/usecase/JoinUsecase.java
  src/main/java/com/ohdab/member/service/usecase/LoginUsecase.java
  src/test/java/com/ohdab/member/Controller/MemberControllerTest.java
  src/test/java/com/ohdab/member/repository/MemberRepositoryTest.java
  src/test/java/com/ohdab/member/service/AddTeacherServiceTest.java
  src/test/java/com/ohdab/member/service/DeleteTeacherServiceTest.java
  src/test/java/com/ohdab/member/service/GetTeacherListServiceTest.java
  src/test/java/com/ohdab/webmvc/member/controller/MemberControllerTest.java
Labels: size/XXL, MEMBER

#101 [Fix] Resolve Conflict
  src/docs/asciidoc/ohdab.adoc
Labels: size/XS

#104 [Feat/#102] 학생 삭제 controller 단위 테스트 & 구현
  src/docs/asciidoc/ohdab.adoc
  src/main/java/com/ohdab/classroom/controller/ClassroomController.java
  src/main/java/com/ohdab/classroom/service/DeleteStudentService.java
  src/main/java/com/ohdab/classroom/service/dto/DeleteStudentDto.java
  src/main/java/com/ohdab/classroom/service/usecase/DeleteStudentUsecase.java
  src/main/java/com/ohdab/member/controller/MemberController.java
  src/main/java/com/ohdab/member/controller/response/DeleteStudentRes.java
  src/test/java/com/ohdab/classroom/controller/ClassroomControllerTest.java
Labels: feat, test, CLASSROOM, size/M

#105 [Feat/#103] 학생 삭제 service 단위 테스트 & 구현
  src/main/java/com/ohdab/classroom/domain/Classroom.java
  src/main/java/com/ohdab/classroom/exception/CannotFindClassroomException.java
  src/main/java/com/ohdab/classroom/exception/NoStudentException.java
  src/main/java/com/ohdab/classroom/service/DeleteStudentService.java
  src/main/java/com/ohdab/classroom/service/dto/DeleteStudentDto.java
  src/main/java/com/ohdab/member/domain/Member.java
  src/main/java/com/ohdab/member/exception/AlreadyWithdrawlException.java
  src/test/java/com/ohdab/classroom/service/DeleteStudentServiceTest.java
Labels: feat, test, size/L, CLASSROOM

#109 [Feat/#108] 교재 목록 조회 repository 테스트 및 구현
  src/main/java/com/ohdab/classroom/service/GetWorkbookListService.java
  src/main/java/com/ohdab/workbook/repository/WorkbookRepository.java
  src/test/java/com/ohdab/classroom/service/GetWorkbookListServiceTest.java
  src/test/java/com/ohdab/workbook/repository/WorkbookRepositoryTest.java
Labels: feat, size/L, CLASSROOM

#113 [Refactor/#112]
  src/main/java/com/ohdab/classroom/domain/Classroom.java
  src/main/java/com/ohdab/classroom/exception/CannotFindClassroomException.java
  src/main/java/com/ohdab/classroom/exception/CannotFindGradeException.java
  src/main/java/com/ohdab/classroom/exception/CannotFindTeacherException.java
  src/main/java/com/ohdab/classroom/exception/NoClassroomException.java
  src/main/java/com/ohdab/classroom/exception/NoGradeException.java
  src/main/java/com/ohdab/classroom/exception/NoTeacherException.java
  src/main/java/com/ohdab/classroom/repository/ClassroomRepository.java
  src/main/java/com/ohdab/classroom/service/AddClassroomService.java
  src/main/java/com/ohdab/classroom/service/ClassroomDetailService.java
  src/main/java/com/ohdab/classroom/service/DeleteClassroomService.java
  src/main/java/com/ohdab/classroom/service/DeleteStudentService.java
  src/main/java/com/ohdab/classroom/service/FindClassroomDetailService.java
  src/main/java/com/ohdab/classroom/service/GetWorkbookListService.java
  src/main/java/com/ohdab/classroom/service/UpdateClassroomInfoService.java
  src/main/java/com/ohdab/classroom/service/helper/ClassroomHelperService.java
  src/main/java/com/ohdab/classroom/service/helper/ClassroomServiceHelper.java
  src/main/java/com/ohdab/member/service/AddTeacherService.java
  src/main/java/com/ohdab/member/service/DeleteTeacherService.java
  src/main/java/com/ohdab/member/service/LoginService.java
  src/main/java/com/ohdab/member/service/UserDetailServiceImpl.java
  src/main/java/com/ohdab/member/service/helper/MemberHelperService.java
  src/main/java/com/ohdab/mistakenote/service/GetMistakeNoteInfoService.java
  src/main/java/com/ohdab/mistakenote/service/SaveMistakeNoteInfoService.java
  src/main/java/com/ohdab/mistakenote/service/helper/MistakeNoteHelperService.java
  src/test/java/com/ohdab/classroom/repository/AddClassroomRepositoryTest.java
  src/test/java/com/ohdab/classroom/repository/DeleteClassroomRepositoryTest.java
  src/test/java/com/ohdab/classroom/repository/FindAllClassroomByTeacherIdRepositoryTestReq.java
  src/test/java/com/ohdab/classroom/repository/FindClassroomByIdRepositoryTest.java
  src/test/java/com/ohdab/classroom/repository/UpdateClassroomRepositoryTest.java
  src/test/java/com/ohdab/classroom/service/AddClassroomServiceTest.java
  src/test/java/com/ohdab/classroom/service/DeleteStudentServiceTest.java
  src/test/java/com/ohdab/classroom/service/GetWorkbookListServiceTest.java
  src/test/java/com/ohdab/classroom/service/UpdateClassroomInfoServiceTest.java
  src/test/java/com/ohdab/member/repository/MemberRepositoryTest.java
  src/test/java/com/ohdab/member/service/AddTeacherServiceTest.java
  src/test/java/com/ohdab/member/service/DeleteTeacherServiceTest.java
  src/test/java/com/ohdab/member/service/GetTeacherListServiceTest.java
  src/test/java/com/ohdab/mistakenote/repository/mapper/MistakeRecordMapperTest.java
  src/test/java/com/ohdab/mistakenote/service/GetMistakeNoteInfoServiceTest.java
  src/test/java/com/ohdab/mistakenote/service/GetNumberWrongNTimesServiceTest.java
  src/test/java/com/ohdab/mistakenote/service/SaveMistakeNoteInfoServiceTest.java
  src/test/java/com/ohdab/workbook/repository/WorkbookRepositoryTest.java
Labels: fix, size/XL, refactor

#117 [Feat/#116] 교재 추가 Repository 테스트 및 구현
  src/main/java/com/ohdab/mistakenote/domain/MistakeNote.java
  src/test/java/com/ohdab/mistakenote/repository/MistakeNoteRepositoryTest.java
  src/test/java/com/ohdab/workbook/repository/WorkbookRepositoryTest.java
Labels: feat, CLASSROOM, size/M

#122 [Fix/#119] mistakenote 생성자 빌더 NPE 해결
  src/main/java/com/ohdab/mistakenote/domain/MistakeNote.java
  src/test/java/com/ohdab/mistakenote/repository/MistakeNoteRepositoryTest.java
Labels: size/S

#120 [Feat/#118] 교재 추가 controller 테스트 작성 및 구현
  src/docs/asciidoc/ohdab.adoc
  src/main/java/com/ohdab/classroom/controller/ClassroomController.java
  src/main/java/com/ohdab/classroom/controller/mapper/ClassroomMapper.java
  src/main/java/com/ohdab/classroom/controller/request/AddWorkbookReq.java
  src/main/java/com/ohdab/classroom/controller/response/AddWorkbookRes.java
  src/main/java/com/ohdab/classroom/service/AddWorkbookService.java
  src/main/java/com/ohdab/classroom/service/dto/ClassroomAddWorkbookDto.java
  src/test/java/com/ohdab/classroom/controller/ClassroomControllerTest.java
  src/test/java/com/ohdab/classroom/service/AddWorkbookServiceTest.java
Labels: feat, size/L, CLASSROOM

#126 [Feat/#123] 학생 추가(회원 가입 요청, 오답노트 생성) controller 단위 테스트 & 구현
  src/docs/asciidoc/ohdab.adoc
  src/main/java/com/ohdab/classroom/controller/ClassroomController.java
  src/main/java/com/ohdab/classroom/controller/mapper/ClassroomMapper.java
  src/main/java/com/ohdab/classroom/controller/request/AddStudentReq.java
  src/main/java/com/ohdab/classroom/controller/response/AddStudentRes.java
  src/main/java/com/ohdab/classroom/service/AddStudentService.java
  src/main/java/com/ohdab/classroom/service/dto/AddStudentDto.java
  src/main/java/com/ohdab/classroom/service/usecase/AddStudentUsecase.java
  src/test/java/com/ohdab/classroom/controller/ClassroomControllerTest.java
Labels: feat, test, size/L, CLASSROOM

#127 [Feat/#121] 교재 정보 수정 Service 테스트 및 구현
  src/docs/asciidoc/ohdab.adoc
  src/main/java/com/ohdab/classroom/service/AddWorkbookService.java
  src/main/java/com/ohdab/classroom/service/UpdateWorkbookInfoService.java
  src/main/java/com/ohdab/classroom/service/dto/ClassroomWorkbookUpdateDto.java
  src/main/java/com/ohdab/classroom/service/helper/ClassroomHelperService.java
  src/main/java/com/ohdab/classroom/service/usecase/UpdateWorkbookInfoUsecase.java
  src/main/java/com/ohdab/mistakenote/domain/MistakeNote.java
  src/main/java/com/ohdab/workbook/domain/Workbook.java
  src/test/java/com/ohdab/classroom/service/AddWorkbookServiceTest.java
  src/test/java/com/ohdab/classroom/service/UpdateWorkbookInfoServiceTest.java
Labels: feat, size/L, CLASSROOM

#131 [Feat/#130] 교재 정보 수정 Controller 테스트 및 구현
  src/docs/asciidoc/ohdab.adoc
  src/main/java/com/ohdab/classroom/controller/ClassroomController.java
  src/main/java/com/ohdab/classroom/controller/mapper/ClassroomMapper.java
  src/main/java/com/ohdab/classroom/controller/request/UpdateWorkbookInfoReq.java
  src/main/java/com/ohdab/classroom/controller/response/UpdateWorkbookInfoRes.java
  src/test/java/com/ohdab/classroom/controller/ClassroomControllerTest.java
Labels: feat, CLASSROOM, size/M

#132 [Feat/#124] 학생 추가(회원 가입 요청, 오답노트 생성) service 단위 테스트 & 구현
  src/main/java/com/ohdab/classroom/event/StudentAddedEvent.java
  src/main/java/com/ohdab/classroom/service/AddStudentService.java
  src/main/java/com/ohdab/core/util/event/handler/StudentAddedHandler.java
  src/test/java/com/ohdab/classroom/service/AddStudentServiceTest.java
  src/test/java/com/ohdab/classroom/service/AddWorkbookServiceTest.java
  src/test/java/com/ohdab/core/util/event/handler/StudentAddedHandlerTest.java
Labels: feat, test, size/L, CLASSROOM

#135 [Feat/#134] 예외 enum 클래스 추가
  src/main/java/com/ohdab/classroom/domain/Classroom.java
  src/main/java/com/ohdab/classroom/exception/ContentOverflowException.java
  src/main/java/com/ohdab/classroom/service/AddClassroomService.java
  src/main/java/com/ohdab/classroom/service/ClassroomDetailService.java
  src/main/java/com/ohdab/classroom/service/FindClassroomDetailService.java
  src/main/java/com/ohdab/classroom/service/GetWorkbookListService.java
  src/main/java/com/ohdab/classroom/service/UpdateWorkbookInfoService.java
  src/main/java/com/ohdab/classroom/service/helper/ClassroomHelperService.java
  src/main/java/com/ohdab/core/exception/ExceptionEnum.java
  src/main/java/com/ohdab/core/exception/handler/ClassroomExceptionHandler.java
  src/main/java/com/ohdab/core/exception/handler/CommonExceptionHandler.java
  src/main/java/com/ohdab/core/exception/handler/MemberExceptionHandler.java
  src/main/java/com/ohdab/core/exception/handler/MistakeNoteExceptionHandler.java
  src/main/java/com/ohdab/core/exception/handler/WorkbookExceptionHandler.java
  src/main/java/com/ohdab/member/domain/Member.java
  src/main/java/com/ohdab/member/exception/MemberContentOverflowException.java
  src/main/java/com/ohdab/member/exception/NoAuthorityException.java
  src/main/java/com/ohdab/member/service/AddTeacherService.java
  src/main/java/com/ohdab/member/service/JoinService.java
  src/main/java/com/ohdab/member/service/helper/MemberHelperService.java
  src/main/java/com/ohdab/mistakenote/domain/MistakeNote.java
  src/main/java/com/ohdab/mistakenote/exception/MistakeNumbersSizeException.java
  src/main/java/com/ohdab/mistakenote/service/GetMistakeNoteInfoService.java
  src/main/java/com/ohdab/mistakenote/service/GetNumberWrongNTimesService.java
  src/main/java/com/ohdab/mistakenote/service/SaveMistakeNoteInfoService.java
  src/main/java/com/ohdab/workbook/domain/Workbook.java
  src/main/java/com/ohdab/workbook/domain/workbookInfo/WorkbookInfo.java
  src/main/java/com/ohdab/workbook/exception/DuplicatedWorkbookException.java
  src/main/java/com/ohdab/workbook/exception/InvalidWorkbookNumberRangeException.java
  src/main/java/com/ohdab/workbook/exception/WorkbookContentOverflowException.java
Labels: feat, size/XL

#136 [Fix/#133] 교재 추가 서비스 수정
  src/main/java/com/ohdab/classroom/service/AddWorkbookService.java
  src/test/java/com/ohdab/classroom/service/AddWorkbookServiceTest.java
Labels: fix, CLASSROOM, size/S

#139 [Fix/#138] 예외 메시지 적용
  src/main/java/com/ohdab/classroom/service/AddStudentService.java
Labels: fix, CLASSROOM, size/XS

#151 [Fix/#150] URL 접근 권한 설정
  build.gradle
  src/main/java/com/ohdab/core/util/security/config/WebSecurityConfig.java
Labels: fix, size/S

#146 [Feat/#141] 회원탈퇴 service 단위 테스트 & 구현
  src/main/java/com/ohdab/member/service/WithdrawlService.java
  src/test/java/com/ohdab/member/service/WithdrawlServiceTest.java
Labels: feat, test, size/L, MEMBER

#154 [Fix/#152] 각종 에러 해결
  src/docs/asciidoc/ohdab.adoc
  src/main/java/com/ohdab/classroom/controller/ClassroomController.java
  src/main/java/com/ohdab/classroom/controller/mapper/ClassroomMapper.java
  src/main/java/com/ohdab/classroom/controller/response/AddClassroomRes.java
  src/main/java/com/ohdab/classroom/controller/response/AddWorkbookRes.java
  src/main/java/com/ohdab/classroom/controller/response/ClassroomResList.java
  src/main/java/com/ohdab/classroom/controller/response/ClassroomWorkbookListRes.java
  src/main/java/com/ohdab/classroom/controller/response/DeleteClassroomRes.java
  src/main/java/com/ohdab/classroom/controller/response/UpdateClassroomRes.java
  src/main/java/com/ohdab/classroom/controller/response/UpdateWorkbookInfoRes.java
  src/main/java/com/ohdab/classroom/service/AddClassroomService.java
  src/main/java/com/ohdab/classroom/service/AddWorkbookService.java
  src/main/java/com/ohdab/classroom/service/DeleteClassroomService.java
  src/main/java/com/ohdab/classroom/service/GetClassroomDetailInfoService.java
  src/main/java/com/ohdab/classroom/service/UpdateClassroomInfoService.java
  src/main/java/com/ohdab/classroom/service/UpdateWorkbookInfoService.java
  src/main/java/com/ohdab/classroom/service/usecase/GetClassroomDetailInfoUsecase.java
  src/main/java/com/ohdab/core/exception/ExceptionEnum.java
  src/main/java/com/ohdab/core/exception/handler/ClassroomExceptionHandler.java
  src/main/java/com/ohdab/member/controller/mapper/MemberWebMapper.java
  src/main/java/com/ohdab/member/controller/request/AddTeacherReq.java
  src/main/java/com/ohdab/member/controller/response/AddTeacherRes.java
  src/main/java/com/ohdab/member/controller/response/DeleteTeacherRes.java
  src/main/java/com/ohdab/member/controller/response/GetTeacherListRes.java
  src/main/java/com/ohdab/member/controller/response/JoinRes.java
  src/main/java/com/ohdab/member/controller/response/LoginRes.java
  src/main/java/com/ohdab/member/service/DeleteTeacherService.java
  src/main/java/com/ohdab/member/service/JoinService.java
  src/main/java/com/ohdab/mistakenote/exception/MistakeNoteIsEmptyException.java
  src/main/java/com/ohdab/mistakenote/service/GetMistakeNoteInfoService.java
  src/main/resources/mapper/MemberMapper.xml
  src/test/java/com/ohdab/classroom/controller/ClassroomControllerTest.java
  src/test/java/com/ohdab/classroom/service/UpdateClassroomInfoServiceTest.java
  src/test/java/com/ohdab/member/controller/MemberControllerTest.java
Labels: fix, size/L, MEMBER, MISTAKENOTE, CLASSROOM

#155 [Feat/#137] 선생님 추가 시 회원가입 요청 서비스
  src/docs/asciidoc/ohdab.adoc
  src/main/java/com/ohdab/core/util/event/handler/TeacherAddedHandler.java
  src/main/java/com/ohdab/member/event/TeacherAddedEvent.java
  src/main/java/com/ohdab/member/service/AddTeacherService.java
  src/main/java/com/ohdab/member/service/helper/MemberHelperService.java
  src/test/java/com/ohdab/core/util/event/handler/TeacherAddedHandlerTest.java
  src/test/java/com/ohdab/member/controller/MemberControllerTest.java
  src/test/java/com/ohdab/member/service/AddTeacherServiceTest.java
Labels: feat, fix, size/L, MEMBER

#156 [Fix/#153] 반 상세조회 요구사항 변경
  src/main/java/com/ohdab/classroom/controller/ClassroomController.java
  src/main/java/com/ohdab/classroom/controller/mapper/ClassroomMapper.java
  src/main/java/com/ohdab/classroom/controller/response/ClassroomDetailRes.java
  src/main/java/com/ohdab/classroom/service/FindClassroomDetailService.java
  src/main/java/com/ohdab/classroom/service/GetClassroomDetailInfoService.java
  src/main/java/com/ohdab/classroom/service/dto/ClassroomDetailDto.java
  src/main/java/com/ohdab/classroom/service/mapper/ClassroomDetailServiceMapper.java
  src/main/java/com/ohdab/classroom/service/usecase/FindClassroomDetailUsecase.java
  src/main/java/com/ohdab/member/repository/mapper/MemberMapper.java
  src/main/java/com/ohdab/mistakenote/service/GetMistakeNoteInfoService.java
  src/main/java/com/ohdab/workbook/repository/mapper/WorkbookMapper.java
  src/main/resources/mapper/MemberMapper.xml
  src/main/resources/mapper/WorkbookMapper.xml
  src/test/java/com/ohdab/classroom/controller/ClassroomControllerTest.java
  src/test/java/com/ohdab/classroom/service/UpdateWorkbookInfoDtoServiceTest.java
  src/test/java/com/ohdab/member/repository/mapper/MemberMapperTest.java
  src/test/java/com/ohdab/mistakenote/service/GetMistakeNoteInfoServiceTest.java
  src/test/java/com/ohdab/workbook/repository/mapper/WorkbookMapperTest.java
Labels: fix, test, size/L

#158 [Feat/#157] 선생님 삭제 시 회원 탈퇴 요청 서비스
  src/main/java/com/ohdab/core/util/event/handler/TeacherAddedHandler.java
  src/main/java/com/ohdab/core/util/event/handler/TeacherDeletedHandler.java
  src/main/java/com/ohdab/member/event/TeacherDeletedEvent.java
  src/main/java/com/ohdab/member/service/AddTeacherService.java
  src/main/java/com/ohdab/member/service/DeleteTeacherService.java
  src/test/java/com/ohdab/core/util/event/handler/TeacherDeletedHandlerTest.java
  src/test/java/com/ohdab/member/service/DeleteTeacherServiceTest.java
Labels: feat, size/L, MEMBER

#160 [Merge/#159] feature-member 브랜치 병합(회원탈퇴 서비스)
  src/main/java/com/ohdab/member/controller/response/WithdrawlRes.java
  src/main/java/com/ohdab/member/service/WithdrawlService.java
  src/main/java/com/ohdab/member/service/usecase/WithdrawlUsecase.java
  src/test/java/com/ohdab/classroom/service/UpdateWorkbookInfoServiceTest.java
  src/test/java/com/ohdab/member/service/WithdrawlServiceTest.java
Labels: feat, size/L

#162 [Fix/#161] 선생님 삭제 이벤트 내부 로직 변경
  src/main/java/com/ohdab/core/event/handler/StudentAddedHandler.java
  src/main/java/com/ohdab/core/event/handler/TeacherAddedHandler.java
  src/main/java/com/ohdab/core/event/handler/TeacherDeletedHandler.java
  src/main/java/com/ohdab/member/event/TeacherDeletedEvent.java
  src/main/java/com/ohdab/member/service/DeleteTeacherService.java
  src/test/java/com/ohdab/core/util/event/handler/TeacherAddedHandlerTest.java
  src/test/java/com/ohdab/core/util/event/handler/TeacherDeletedHandlerTest.java
  src/test/java/com/ohdab/member/service/DeleteTeacherServiceTest.java
Labels: fix, size/M
